{% extends "layout.html" %} 

{% block content %}
<div class="create-container">
<h2>新規職員登録</h2>
<form id="myForm" method="POST" sction="/sign_up">
	<div class="input-container">
          <input class="input-field" type="text" id="last_name" name="last_name"  placeholder="苗字" required='required'>
          <label for="input-field" class="input-label">苗字</label>
        </div>
        <div class="input-container">
          <input class="input-field" type="text" id="name" name="name" placeholder="名前" required='required'>
          <label for="input-field" class="input-label">名前</label>
        </div>
      
	<button class="btn" type="submit" onclick="post_staff_form()">登録</button>
	<!-- htmlのfromタグを使っているため、post_staff_from()発火後に入力したデータがswitch_app.pyにpostされる -->
</form>
</div>
<script>
    function post_staff_form() {
		if(document.getElementById('name').value == ''){
		  alert('空欄があります')
		  return 
		}
		alert('カードをかざしてください')
		
	}
    if({{message|tojson}} != '') {
    	alert({{message|tojson}})
    }
    page_update()
</script>
{% endblock %}
